body {
  font-family: 'Helvetica', 'Arial', sans-serif;
  background-color: #F5F4EF;
  margin: 10px;
  padding: 0;
}

.titleCenter {
  font-size: 32px;
  text-align: center;
  font-weight: bold;
  margin-top: 120px;
  margin-bottom: 20px;
}

#inputContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

#sentenceInput {
  width: 60%;
  padding: 10px;
  margin-right: 20px;
  font-size: 18px;
  resize: vertical; /* Allow users to resize vertically */
}

#buttonContainer {
  display: flex;
  flex-direction: column;
  gap: 10px; /* Space between buttons */
}

.similarityScore {
  text-align: center;
  margin-top: 20px;
  font-size: 18px;
}

#similarityInput {
  width: 60px;
  padding: 5px;
  font-size: 18px;
  margin-left: 10px;
}

#processRapidFuzzButton {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  font-size: 16px;
}

#processRapidFuzzButton:hover {
  background-color: #45a049;
}

.loading {
  text-align: center;
  font-size: 18px;
  color: #888;
  margin-top: 10px;
  display: none;
}

#loading img {
  width: 80px;
  height: 80px;
}

#rapidfuzzOrgSection,
#rapidfuzzKeywordSection,
/*#spacyResult {
  margin-top: 20px;
  font-size: 18px;
  color: #333;
  margin-left: 20%;
  width: 60%;
}*/

#rapidfuzzOrgSection strong,
#rapidfuzzKeywordSection strong,
/*#spacyResult strong {
  display: block;
  margin-bottom: 5px;
}*/

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
}

th {
  background-color: #f2f2f2;
  text-align: left;
}

#processSpacyButton,
#spacyResult {
    display: none;
}
